@use "../../../styles/mixins/mixin";
@use "../../../styles/abstracts/_variables" as *;

.image-size-section {
  margin: $margin-secondary;
  button {
    @include mixin.button-round;
    width: 70px;
    background-color: rgb(7, 139, 27);
  }
  .image-size-touched {
    background-color: rgb(245, 54, 6);
  }

  .image-size-control {
    margin-top: $margin-primary;
    color: red;
    background-color: rgba($color: #bfec0a, $alpha: 0.7);
    padding: $padding-primary;
    border-radius: $border-radius-primary;
  }

  .image-size-input {
    @include mixin.button-round;
    width: 70px;
    background-color: #bfec0a;
    color: black;
    padding: $padding-primary;
    margin-left: $margin-primary;
    border-radius: 50%;
  }
}
