$main-min-height: 69vh;

$margin-primary: 0.5rem;
$margin-secondary: 2rem;
$margin-tertiary: 4rem;
$margin-quaternary: 6rem;

$padding-primary: 0.3rem;
$padding-secondary: 2rem;

$border-radius-primary: 10px;
