@use "../../../styles/mixins/mixin";
.image-upload-section {
  /*  @include mixin.card-primary; */
  .image-input {
    display: none;
  }
  button {
    @include mixin.button-round;
    background-color: red;
    border-radius: 0 0 100px 100px;
  }
}
