@use "../abstracts/_fonts" as *;
@use "../abstracts/_variables" as *;
@use "../abstracts/colorsVariables" as *;

@mixin button-primary {
  font-size: $font-size-primary;
  padding: $padding-primary;
  background-color: var(--button-background-color-primary);
  color: var(--button-color-primary);
  box-shadow: 5px 5px 5px var(--box-shadow-color-primary);
  border-radius: $border-radius-primary;
  transition: all 1s;
  &:hover {
    cursor: pointer;
    box-shadow: 15px 15px 15px var(--background-color-primary);
  }
  &:active {
    background-color: var(--button-background-color-active);
  }
}

@mixin button-round {
  font-size: $font-size-primary;
  padding: $padding-primary;
  background-color: var(--button-background-color-primary);
  color: var(--button-color-primary);
  box-shadow: 5px 5px 5px var(--box-shadow-color-primary);
  border-radius: 50%;
  height: 100px;
  transition: all 1s;
  &:hover {
    cursor: pointer;
    box-shadow: 15px 15px 15px var(--background-color-primary);
  }
  &:active {
    background-color: var(--button-background-color-active);
  }
}

@mixin border-primary {
  border: 5px double $border-color-primary;
  border-radius: $border-radius-primary;
}

@mixin card-primary {
  width: fit-content;
  margin: $margin-secondary;
  padding: $padding-secondary;
  border: 5px double var(--border-color-primary);
  border-radius: $border-radius-primary;
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin card-secondary {
  width: fit-content;
  margin: $margin-secondary;
  padding: $padding-secondary;
  border: 5px double var(--border-color-primary);
  border-radius: $border-radius-primary;
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin form-primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: $margin-primary;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-control {
      width: 100%;
      padding: 8px;
      border: 5px double var(--border-color-primary);
      border-radius: $border-radius-primary;
    }
  }
}
