@use "../../../styles/mixins/mixin";

.image-download-section {
  /*  @include mixin.card-primary; */
  transform-origin: bottom center;
  transform: rotate(8deg);
  button {
    @include mixin.button-round;
    background-color: purple;
  }
}
